<div class="container mt-4 pb-4">
  <div class="row pt-3 pb-3">
    <div class="col-md-12">
      <% if @error == 'buy_value' %>
        <div class="alert alert-danger text-center" role="alert">
          O valor da ação foi atulizado!! <br/>
          Retorne a página e realize a compra novamente para concluir.<br/>
          <br/>
          <%= link_to 'Voltar', :back %>
        </div>
      <% elsif @error == 'dont_logged' %>
        <div class="alert alert-danger text-center" role="alert">
          Você precisa estar logado para realizar uma compra.
        </div>
      <% elsif @error == 'not_have_quotes_quantity' %>
        <div class="alert alert-danger text-center" role="alert">
          Essa ação não tem este número de cotas para vender. <br/>
          Pode ser que em quanto você estava na página, alguém comprou cotas desta ação.<br/>
          <br/>
          <%= link_to 'Voltar', :back %>
        </div>
      <% elsif @error == 'not_have_money' %>
        <div class="alert alert-danger text-center" role="alert">
          Você não tem dinheiro o suficiente para comprar as cotas desta ação. <br/>
          <br/>
          <%= link_to 'Voltar', :back %>
        </div>
      <% else %>

        <div class="row justify-content-md-center">
          <div class="col-md-6" style="background-color: #FFF; border-radius: 7px;">
            
            <div class="row">
              <div class="col-md-12">
                <h1>Compra de Ação</h1>
                <hr/>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                Parabéns, você adquiriu <b><%= @buy_quantity %></b> cotas do(a) <b><%= @business_name %></b> por <b>$<%= @total_price %></b>!
                <br/>
                <br/>
                Você pode acompanhar as variações do valor de sua ação, na página da empresa no <b>Mercado de Ações</b>.
                <br/>
                <br/>
                E você também pode administrar sua ações indo em <b>Carteira -> Minhas ações</b>.
                <br/>
              </div>
            </div>

          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
