<div class='container mt-4 pb-4' style="background-color: #FFFFFF; border-radius: 7px;">

  <% if @Error.present? %>

  <%= @Error %>

  <% else %>

  	<% if @users.size.zero? %>
      <br/>
  		<div class="alert alert-danger text-center" role="alert">
  		  Nenhum usuário encontrado.
  		  <br/>
  		  <%= link_to 'Procurar novamente', 'find_user' %>
        <br/>
        <%= link_to 'Voltar para listagem de usuários', 'users' %>
  		</div>
  	<% else %>
      <h3>Lista de usuários</h3>
      <br/>
  		<%= link_to 'Procurar usuário', admin_find_user_path, :class => 'btn btn-primary' %>

  		<br>


      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Dinheiro</th>
            <th scope="col">Dinheiro Bloqueado</th>
            <th scope="col">Ver ações</th>
            <th scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.money ? number_to_currency(user.money) : '$0.00' %></td>
            <td><%= user.blocked_money ? number_to_currency(user.blocked_money) : '$0.00' %></td>
            <td><%= link_to 'Ver Ações', "/admin/wallet/#{user.id}" %></td>
            <td><%= link_to 'Editar', "/admin/edit_user/#{user.id}" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  	<% end %>
  <% end %>
</div>