<div class="container mt-4 pb-4" style="background-color: #FFFFFF; border-radius: 7px;">

  <div class="row pt-3 pb-3">
    <div class='col-md-4'></div>
    <div class='col-md-4 text-center'><h4>Mercado de Ações</h4></div>
    <div class="col-md-4 text-right">
      <%= link_to 'Ativas', '/all_business/1', :class => 'btn btn-success' %>
      <% if user_signed_in? %>
      <%= link_to 'Minha ações', '/wallet/1', :class => 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>

      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Sigla</th>
            <th scope="col">Nome da companhia</th>
            <th scope="col">Falida em</th>
            <th scope="col">Acessar</th>
          </tr>
        </thead>
        <tbody>
          <% @business.each do |business| 
            valueHistory = business.value_history
            actual_price = action_value(valueHistory).round(2).to_i
             %>
          
            <% if actual_price == 1 %>
              <tr class="text-center" style="background-color: #F8E0E0">
                <td><%= business.initials %></td>
                <td><%= business.name %></td>
                <td><%= valueHistory.created_at.strftime('%d/%m/%Y') %></td>
                <td><%= link_to 'Mais detalhes >>', "../business/#{business.id}", :class => 'btn btn-dark btn-sm' %> </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    
  </div>

</div>
