<div class="container mt-4 pb-4" style="background-color: #FFFFFF; border-radius: 7px;">

  <div class="row pt-3 pb-3">
    <div class='col-md-4'></div>
    <div class='col-md-4 text-center'><h4>Mercado de Ações</h4></div>
    <div class="col-md-4 text-right">
      <% if user_signed_in? %>
      <%= link_to 'Minha ações', '/wallet/1', :class => 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>

      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Sigla</th>
            <th scope="col">Nome da companhia</th>
            <th scope="col">Preço Atual</th>
            <th scope="col">Movimentação</th>
            <th scope="col">Variação</th>
            <th scope="col">Cotas a venda</th>
            <th scope="col">Acessar</th>
          </tr>
        </thead>
        <tbody>
          <% @business.each do |business| 
            valueHistory = business.value_history %>
          <tr class="text-center">
            <td><%= business.initials %></td>
            <td><%= business.name %></td>
            <td><%= number_to_currency_br(action_value(valueHistory)) %></td>
            <td><%= number_to_currency_br(calculate_movimentation(valueHistory).round(2)) %></td>
            <td><%= calculate_variation(valueHistory) %>% <%= define_icon(valueHistory) %></td>
            <td><%= business.available_quotes %></td>
            <td><%= link_to 'Mais detalhes >>', "../business/#{business.id}", :class => 'btn btn-dark btn-sm' %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="row">
    
  </div>

</div>
