<div class="container mt-4 pb-4" style="background-color: #FFFFFF; border-radius: 7px;">
  <div class='row pt-3 pb-3'>
    <div class='col-md-4'></div>
    <div class='col-md-4 text-center'><h4>Minhas de Ações</h4></div>
    <div class="col-md-4 text-right">
      <%= link_to 'Mercado de ações', '/all_business/1', :class => 'btn btn-success' %>
    </div>
  </div>

  <div class="row">
    <div class='col-xl-12'>
      
      <table class="table">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Companhia</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor pago</th>
            <th scope="col">Preço Atual</th>
            <th scope="col">Lucro</th>
            <th scope="col">Vender</th>
            <th scope="col">Visitar</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <% if @quotes.present? && @quotes.count > 0 %>

          <%  @quotes.each do |quote| 
              biz = quote.business 
              price_to_sell = (quote.quantity.round(2) * quote.current_price.round(2)).round(2)

          %>
            <tr class="text-center">
              <td><%= biz.name %> (<%= biz.initials %>)</td>
              <td><%= quote.quantity %></td>
              <td>$<%= quote.purchased_value %></td>
              <td>$<%= quote.current_price %></td>
              <td>$<%= calculate_gain(quote.quantity, quote.purchased_value, quote.current_price) %> </td>
              <td>
                <%= form_tag "/quote/sell_quote/#{quote.id}" do |f| %>
                  <%= hidden_field_tag :sell_value, quote.current_price %>

                  <% if @price > 0 %>
                    <%= submit_tag "Vender por $#{price_to_sell}", :class => 'btn btn-success btn-sm' %>
                  <% else %>
                    <%= submit_tag "Vender por $#{price_to_sell}", :class => 'btn btn-danger btn-sm' %>
                  <% end %>
                <% end %>
              </td>
              <td><%= link_to "Ver no mercado >>", "/business/#{quote.business_id}", :class => "btn btn-dark btn-sm" %> </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <% if @quotes.nil? || @quotes.count == 0 %>
        <div class="alert alert-danger position-relative text-center" role="alert">
          Você não tem nenhuma ação.
        </div>
      <% end %>
    </div>
  </div>
</div>