
<body style="background-color: #EFEFEF">
  <div class="container" style="background-color: #FFFFFF">

    <br/>
    <div class='col-md-12'>
     	<h4>Minhas ações</h4>
    </div>

    <div class='row'>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Companhia</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor pago</th>
              <th scope="col">Preço Atual</th>
              <th scope="col">Lucro</th>
              <th scope="col">Vender</th>
              <th scope="col">Visitar</th>
            </tr>
          </thead>
          <tbody class="table-hover">
            <% 
              @quotes.each do |quote| 
              biz = quote.business 
            %>
            <tr>
              <td><%= biz.name %> (<%= biz.initials %>)</td>
              <td><%= quote.quantity %></td>
              <td>$<%= quote.purchased_value %></td>
              <td>$<%= quote.current_price %></td>
              <td>$<%= calculate_gain(quote.quantity, quote.purchased_value, quote.current_price) %> </td>
              <% price_to_sell = (quote.quantity.round(2) * quote.current_price.round(2)).round(2) %>

              <% if @price > 0 %>
                <td><%= link_to "Vender por $#{price_to_sell}", "#", :class => 'btn btn-success btn-sm' %> </td>
              <% else %>
                <td><%= link_to "Vender por $#{price_to_sell}", "#", :class => 'btn btn-danger btn-sm' %> </td>
              <% end %>
              <td><%= link_to "Ver no mercado", "/business/#{quote.business_id}", :class => 'btn btn-secondary btn-sm' %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>


    </div>

  </div>
</body>