
<body style="background-color: #EFEFEF">
  <div class="container" style="background-color: #FFFFFF">

    <div class='row'>

      <br/>
      <div class='col-md-12'>
        <div class='col-md-11'><h4>Minhas de Ações</h4></div>
        <div class="col-md-1">
          <%= link_to 'Mercado de ações', '/all_business/1', :class => 'btn btn-success' %>
        </div>
      </div>

      <div class='col-md-12'>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Companhia</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor pago</th>
              <th scope="col">Preço Atual</th>
              <th scope="col">Lucro</th>
              <th scope="col">Vender</th>
              <th scope="col">Visitar</th>
            </tr>
          </thead>
          <tbody class="table-hover">
            <% 
              @quotes.each do |quote| 
              biz = quote.business 
              price_to_sell = (quote.quantity.round(2) * quote.current_price.round(2)).round(2)

            %>
            <tr>
              <td><%= biz.name %> (<%= biz.initials %>)</td>
              <td><%= quote.quantity %></td>
              <td>$<%= quote.purchased_value %></td>
              <td>$<%= quote.current_price %></td>
              <td>$<%= calculate_gain(quote.quantity, quote.purchased_value, quote.current_price) %> </td>
              <td>
                <% if @price > 0 %>
                  <%= link_to "Vender por $#{price_to_sell}", "#", :class => 'btn btn-success btn-sm' %>
                <% else %>
                  <%= link_to "Vender por $#{price_to_sell}", "#", :class => 'btn btn-danger btn-sm' %>
                <% end %>
              </td>
              <td><%= link_to "Ver no mercado", "/business/#{quote.business_id}", :class => "btn btn-secondary btn-sm" %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</body>