
<body style="background-color: #EFEFEF">
  <div class="container" style="background-color: #FFFFFF">

    <br/>
    <div class='col-md-12'>
     	<h4>Minhas ações</h4>
    </div>

    <div class='col-md-12'>
      <div class='col-md-12'>

        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Companhia</th>
              <th scope="col">Quantidade</th>
              <th scope="col">Valor pago</th>
              <th scope="col">Preço Atual</th>
              <th scope="col">Lucro</th>
              <th scope="col">Vender</th>
            </tr>
          </thead>
          <tbody>
            <% @quotes.each do |quote| 
              biz = quote.business %>
            <tr>
              <td><%= biz.name %> (<%= biz.initials %>)</td>
              <td><%= quote.quantity %></td>
              <td>$<%= quote.purchased_value %></td>
              <td>$<%= quote.current_price %></td>
              <td>$<%= calculate_gain(quote.quantity, quote.purchased_value, quote.current_price) %> </td>
              <% price_to_sell = sell_price(quote.quantity, quote.current_price) %>
              <td><%= link_to "Vender por $#{price_to_sell}", "../business/#{business.id}", :class => 'btn btn-success' %> </td>
            </tr>
            <% end %>
          </tbody>
        </table>


      </div>
    </div>

  </div>
</body>