<!DOCTYPE html>
<html>
  <head>
    <title>LsExchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-3499900570721811",
              enable_page_level_ads: true
         });
    </script>

  </head>

  <body>
    <%= render template: "layouts/header.html.erb" %>


    <div style="min-height: 500px">

    <%= yield %>

    </div>

    <%= render template: "layouts/footer.html.erb" %>
  </body>
</html>

